@inherits TCInputTextBase

<div class="form-control-wrapper">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-control-label" for="@Id">@Label</label>
    }
    <input type="@this.TextInputTypeString()"
           class="form-control @CssClass.Replace("invalid", "is-invalid")" 
           id="@Id" @bind="@CurrentValue"  @oninput=@ValueEntered/>
    <div class="invalid-feedback">
        <ValidationMessage For="@ValidationFor" />
    </div>
</div>

@code
{
    /// <summary>
    /// This is created to test TCInputText component.
    /// </summary>
    /// <param name="e"> e is the value entered into the text box..</param>
    public void ValueEntered(ChangeEventArgs e)
    {
        if (e != null)
        {
            this.CurrentValue = e.Value.ToString();
        }
    }
}